{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Wszystkie ogłoszenia</h2>
    <div class="row">
        <div class="col-md-12 mb-3">
            <a href="{% url 'dodaj_ogloszenie' %}" class="btn btn-primary">Dodaj ogłoszenie</a>
            <a href="{% url 'sortuj_ogloszenia' 'tytul' %}" class="btn btn-primary ml-2">Sortuj według tytułu</a>
            <a href="{% url 'sortuj_ogloszenia' 'data' %}" class="btn btn-primary ml-2">Sortuj według daty dodania</a>
            <form method="get" action="{% url 'wyswietl_ogloszenia' %}">
                <input type="text" name="tytul" placeholder="Wyszukaj ogłoszenie...">
                <input type="submit" value="Szukaj">
            </form>
        </div>
    </div>
    <div class="row">
        {% for ogloszenie in page_obj %}
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ ogloszenie.tytul }}</h5>
                    <p class="card-text"><small class="text-muted">Data utworzenia: {{ ogloszenie.data_publikacji }}</small></p>
                    <a href="{% url 'edytuj_ogloszenie' ogloszenie.id %}" class="btn btn-primary mr-2">Edytuj</a>
                    <button onclick="usunOgloszenie({{ ogloszenie.id }})" class="btn btn-danger mr-2">Usuń</button>
                    <a href="{% url 'wyswietl_szczegoly_ogloszenia' ogloszenie.id %}" class="btn btn-success">Wyświetl</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?strona={{ page_obj.previous_page_number }}">poprzednia</a>
            {% endif %}

            <span class="current">
                Strona {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?strona={{ page_obj.next_page_number }}">następna</a>
            {% endif %}
        </span>
    </div>
</div>

<script>
function usunOgloszenie(ogloszenieId) {
    if (confirm("Czy na pewno chcesz usunąć to ogłoszenie?")) {
        var xhr = new XMLHttpRequest();
        xhr.open("DELETE", "/ogloszenia/" + ogloszenieId + "/", true);
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken')); // Include CSRF token in the request headers
        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4) {
                if (xhr.status === 200) {
                    alert("Ogłoszenie zostało usunięte!");
                    window.location.reload(); // Refresh the page after deleting the announcement
                } else {
                    alert("Wystąpił błąd podczas usuwania ogłoszenia.");
                }
            }
        };
        xhr.send();
    }
}

// Function to get CSRF token from cookies
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
</script>
{% endblock %}
